DirectX12_FrameWork/.vs/
DirectX12_FrameWork/DirectX12_FrameWork/assimp-vc140-mtd.lib
DirectX12_FrameWork/DirectX12_FrameWork/DirectX12_FrameWork.vcxproj
DirectX12_FrameWork/DirectX12_FrameWork/DirectX12_FrameWork.vcxproj.filters
DirectX12_FrameWork/DirectX12_FrameWork/DirectX12_FrameWork.vcxproj.user
DirectX12_FrameWork/DirectX12_FrameWork/assets/
DirectX12_FrameWork/DirectX12_FrameWork/assimp/
DirectX12_FrameWork/DirectX12_FrameWork/Debug/DirectX12_FrameWork.log
DirectX12_FrameWork/DirectX12_FrameWork/Debug/
DirectX12_FrameWork/DirectX12_FrameWork/DirectXTex-main/DirectXTex-main/.editorconfig
DirectX12_FrameWork/DirectX12_FrameWork/DirectXTex-main/
DirectX12_FrameWork/DirectX12_FrameWork/DirectXTK/.editorconfig
DirectX12_FrameWork/DirectX12_FrameWork/DirectXTK/
DirectX12_FrameWork/DirectX12_FrameWork/ImGui/
DirectX12_FrameWork/DirectX12_FrameWork/x64/
DirectX12_FrameWork/x64/Debug/
